@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

* {
    font-family: "Poppins", sans-serif;
}

.header_table {
    background-color: #dd4b39;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

.text-center {
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.tampil-bayar {
    font-size: 5em;
    text-align: center;
    height: 100px;
}

.tampil-terbilang {
    padding: 10px;
    background: #f0f0f0;
}

.modal-header {
    background-color: #dd4b39;
    color: white;
}

.table-pembelian-detail tbody tr:last-child {
    display: none;
}

/* ---------------------------------- */
@media (max-width: 768px) {
    .tampil-bayar {
        font-size: 3em;
        height: 70px;
        padding-top: 5px;
    }
}
/* 
button .btn {
    font-family: "Poppins", sans-serif;
} */
